/* .App {
  text-align: center;
} */
.col
{
  display: inline-flex;
}
.card-img-top
{
  width: 20rem;
  height: 350px;
  aspect-ratio: 1/1;
  border-radius: 5%;
  object-fit:fill;
}
.card-title
{
  font-style: italic;
  color:crimson;
  display: inline;
}
.card
{
  width:20rem;
  padding: 10px;
  margin: 5px;
}
.fa
{
  color: orange;
  float: right;
  margin-right: 15px;
  margin-top: 7px;
  font-size:large;
}
.rating
{
  color:black;
  font-weight:bolder;
  padding-left: 5px;
}
